<!-- Header -->
<header class="container-fluid">
	<div class="row bg-secondary py-2 px-xl-5">
		<div class="col-lg-6 d-none d-lg-block">
			<div class="d-inline-flex align-items-center">
				<a class="text-dark" href="">FAQs</a>
				<span class="text-muted px-2">|</span>
				<a class="text-dark" href="">Help</a>
				<span class="text-muted px-2">|</span>
				<a class="text-dark" href="">Support</a>
			</div>
		</div>
		<div class="col-lg-6 text-center text-lg-right">
			<div class="d-inline-flex align-items-center">
				<a class="text-dark px-2" href="">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a class="text-dark px-2" href="">
					<i class="fab fa-twitter"></i>
				</a>
				<a class="text-dark px-2" href="">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a class="text-dark px-2" href="">
					<i class="fab fa-instagram"></i>
				</a>
				<a class="text-dark pl-2" href="">
					<i class="fab fa-youtube"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row align-items-center py-3 px-xl-5">
		<div class="col-lg-3 d-none d-lg-block">
			<a href="" class="text-decoration-none">
				<h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Fun</span>Kart</h1>
			</a>
		</div>
		<div class="col-sm-12 col-lg-9 text-left">
			<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
				<a href="" class="text-decoration-none d-block d-lg-none">
					<h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Fun</span>Kart</h1>
				</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" title="Button For Navbar Collapse" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
					<div class="navbar-nav mr-auto py-0">
						<a [routerLink]="['/']" class="nav-item nav-link">Home</a>
						<a [routerLink]="['/products']" class="nav-item nav-link">Shop</a>
						<a [routerLink]="['/payment']" class="nav-item nav-link">Card</a>
					</div>

					<div class="navbar-nav ml-auto py-0 d-none d-lg-block">
						<form action="">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for products">
								<div class="input-group-append">
									<span class="input-group-text bg-transparent text-primary">
										<i class="fa fa-search"></i>
									</span>
								</div>
							</div>
						</form>
					</div>

					<div class="navbar-nav ml-auto py-0">
						<!-- <a *ngIf="isLogedIn"  class="nav-item nav-link"><i class="fa-regular fa-user"></i> Welcome | {{user}}</a> -->

						<div *ngIf="isLogedIn" class="nav-item">
							<a [routerLink]="['/cart']" class="nav-link px-3 py-2 btn border"> <i class="fas fa-shopping-cart text-primary"></i> {{cartItem? cartItem.length:0}} </a>
						</div>
						<div *ngIf="isLogedIn" class="nav-item dropdown">
							<a class="btn border" class="nav-link px-3 py-2 dropdown-toggle btn border" id="navbarDropdown" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-user text-primary"></i>  </a>
							<div class="dropdown-menu rounded-0 m-0"  aria-labelledby="navbarDropdown">
								<a [routerLink]="['profile']" class="dropdown-item">Profile</a>
								<a [routerLink]="['all-order']" class="dropdown-item">History</a>
								<a [routerLink]="['login']" (click)="logout()" class="dropdown-item">Logout</a>
							</div>
						</div>

						<a *ngIf="!isLogedIn" [routerLink]="['login']" class="nav-item nav-link">Login</a>
						<a *ngIf="!isLogedIn" [routerLink]="['register']" class="nav-item nav-link">Register</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>

<!-- <header class="header shop">
				<div class="col-lg-2 col-md-3 col-12">
					<div class="right-bar">

						<div class="sinlge-bar shopping"> 
						

							<div class="shopping-item">
								<div class="dropdown-cart-header">
									<span>{{cartItem?cartItem.length:0}} Items</span>
									<a [routerLink]="['/cart']">View All Cart</a>
								</div>
								<ul class="shopping-list">
									<li *ngFor="let cart of cartItem | slice: 0:2"> 
										<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
										<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
										<h4><a [routerLink]="['product', cart?.product?.productId]">{{cart?.product?.name}}</a></h4>
										<p class="quantity">{{cart?.quantity}}x - <span class="amount">${{cart?.product?.price}}</span></p>
									</li>
								</ul>
								<div class="bottom">

									<a [routerLink]="['/order']" class="btn animate">Checkout</a>
								</div>
							</div>

						</div>
						<div class="sinlge-bar shopping" style="cursor: pointer;" >
							<i class="fa-regular fa-folder-closed"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header> -->
